/*===============================
=            Articles           =
===============================*/

.gallery{
    padding: 15px 40px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    grid-gap: 20px;
    
    .article{
        border: 1px solid black;
    }
    .article__cover{
        max-width: 100%;
    }
    
}


.gallery--category{
    padding: 15px 0;
    grid-gap:0;

    .article{
        position: relative;
        height: 75px;
        background: rgba(0, 0, 0, 0.45);
        background-size:cover;
        background-repeat:no-repeat;
    }

    .article__cover{}
    
    .article__name{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }
}

