/*===============================
=            Header             =
===============================*/

.header {
    font-family: $font-family;
    background: $red;
  
    position: relative;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
    border-radius: 5px 5px 0 0;
  
    &__title {
      position: absolute;
      z-index: 1;
      color: white;
      font-size: 50px;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%,-50%);
      font-family: $font-bangers;
      @media (min-width: $media--m) {
        font-size: 75px;
        white-space: nowrap;
      }
      &:after{
        z-index: -2;
        color: $blue;
        position: absolute;
        content:'cartoon network';
        top:5px;
        left: 5px;
        @media (min-width: $media--s) {
          white-space: nowrap;
        }
      }
    }
  }