/*===============================
=            Header             =
===============================*/

.header {
    font-family: $font-familly;
    background: #1f211f;
  
    position: relative;
    height: 35vh;
  
    &__title {
      position: absolute;
      color: white;
      font-size: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      
    }
  }