*{
    box-sizing: border-box;
}



/*===============================
=            Sections           =
===============================*/

html{
  background-color: #edd4b2;
}

body{
  margin: 5px;
}

.section {
    // height: 65vh;
    text-align: center;
    color: #edd4b2;
  
    &--1 {
        background: #031927;
        height: 10vh;
    }
    
    &--2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;
        border: 1px solid black;
    }

    &--3{ }

    &--4{ }
  
  }
  
  .section__title{
    padding: 50px 0 5px 0;
    font-size: 1.5rem;
    font-family: $font-bangers;
    color: #222222;
    & span {
      color: lighten(#222222,50%);
    }
  }
    
  .section__text{
    color: grey;
  }

  .section__desc{
      text-align: center;
      padding: 20px 50px;
      color: grey;
  }