/*===============================
=            Sections           =
===============================*/

.section {
    // height: 65vh;
    text-align: center;
    color: white;
  
    &--1 {
        background: #141514;
    }
    
    &--2{
        background: #634d3c;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--3{
        background: #1f211f;
      }

    &--4{
        background: #634d3c;
    }
  
  }
  
  .section__title{
    font-size: 25px;
  }
    
  .section__text{
    color: grey;
  }

  .section__desc{
      text-align: justify;
      padding: 20px 50px;
  }