/*===============================
=            Variables          =
===============================*/

$font-family: 'Dancing Script', cursive;
$font-bangers: 'Bangers', cursive;

$black:#141514;
$green:#1f211f;

$blue:#031927;
$red:#ba1200;
$beige:#c0b3a0;

$media--s: 655px;
$media--m: 730px;
$media--l: 1100px;


/*===============================
=            Imports            =
===============================*/

/* -- vendors -- */
@import "vendors/reset";
@import "vendors/keyframes";

/* -- blocs -- */

@import "blocs/header";
@import "blocs/section";
@import "blocs/article";
@import "blocs/effects";

@import "blocs/articles";
@import "blocs/contact";

@import "blocs/button";




